In [125]:
import pandas as pd
from datetime import date

In [126]:
#Loading Oct'20 dataset
df_oct_prod = pd.read_csv('src_data/20201001220037_products.csv',sep=';');

In [127]:
df_oct_price = pd.read_csv('src_data/20201001220039_prices.csv',sep=';');

In [128]:
df_oct_cntr = pd.read_csv('src_data/20201001220144_contracts.csv',sep=';')

In [129]:
#Loading Nov'20 datasets
df_nov_prod = pd.read_csv('src_data/20201101220035_products.csv',sep=';');
df_nov_price = pd.read_csv('src_data/20201101220039_prices.csv',sep=';');
df_nov_cntr = pd.read_csv('src_data/20201101230133_contracts.csv',sep=';');

In [130]:
#Loading Dec'20 datasets
df_dec_prod = pd.read_csv('src_data/20201201220034_products.csv',sep=';');
df_dec_price = pd.read_csv('src_data/20201201220101_prices.csv',sep=';');
df_dec_cntr = pd.read_csv('src_data/20201201220059_contracts.csv',sep=';');

In [131]:
df_new_rows = pd.merge(df_dec_cntr,df_nov_cntr, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)

In [132]:
#Loading Jan'21 datasets
df_jan_prod = pd.read_csv('src_data/20210101220045_products.csv',sep=';');
df_jan_price = pd.read_csv('src_data/20210101220057_prices.csv',sep=';');
df_jan_cntr = pd.read_csv('src_data/20210101220104_contracts.csv',sep=';');

In [133]:
df_new_rows.shape[0]

2340

In [134]:
df_cont=df_oct_cntr.append(df_nov_cntr,ignore_index=True).append(df_dec_cntr,ignore_index=True).append(df_jan_cntr,ignore_index=True)

In [135]:
df_oct_price

,id,productid,pricecomponentid,productcomponent,price,unit,valid_from,valid_until,modificationdate
0,1,1000,1,baseprice,8.99,€/year,2019-01-01,2020-05-31,2020-05-24
1,2,1000,2,workingprice,29.80,ct/kwh,2019-01-01,2020-05-31,2020-05-24
2,3,1001,1,baseprice,9.99,€/year,2019-01-01,9999-12-31,2018-12-23
3,4,1002,1,baseprice,9.49,€/year,2019-01-01,9999-12-31,2018-12-23
4,5,1001,2,workingprice,29.40,ct/kwh,2019-01-01,2019-12-31,2019-12-22
5,6,1002,2,workingprice,28.90,ct/kwh,2019-01-01,2019-12-31,2019-12-22
6,7,2001,1,baseprice,13.99,€/year,2019-01-01,9999-12-31,2018-12-23
7,8,2001,2,workingprice,4.90,ct/kwh,2019-01-01,9999-12-31,2018-12-23
8,9,2002,1,baseprice,13.99,€/year,2019-01-01,9999-12-31,2018-12-23
9,10,2002,2,workingprice,5.20,ct/kwh,2019-01-01,9999-12-31,2018-12-23
10,11,1002,2,workingprice,29.10,€/year,2020-01-01,9999-12-31,2019-12-22
11,12,1001,2,workingprice,29.30,ct/kwh,2020-01-01,9999-12-31,2019-12-22
12,13,1000,1,baseprice,9.79,€/year,2020-06-01,9999-12-31,2020-05-24
13,14,1000,2,workingprice,29.90,ct/kwh,2020-06-01,9999-12-31,2020-05-24

In [136]:
df_oct_cntr

,id,type,energy,usage,usagenet,createdat,startdate,enddate,fillingdatecancellation,cancellationreason,city,status,productid,modificationdate
0,1,energy,electricity,2100,2084.0,2018-03-12,2018-12-01,NaN,NaN,NaN,Wuppertal,indelivery,1000,2020-04-17
1,2,energy,electricity,2700,2569.0,2018-01-26,2018-10-01,NaN,NaN,NaN,Cologne,indelivery,1000,2020-02-06
2,3,energy,electricity,2900,2760.0,2019-04-09,2019-09-01,NaN,NaN,NaN,Berlin,indelivery,1002,2020-01-20
3,4,energy,electricity,2500,2391.0,2019-09-27,2019-11-01,2020-02-29,2020-02-01,fristgerecht durch Kunde,Dortmund,terminated,1000,2020-02-01
4,5,energy,electricity,2200,2178.0,2020-04-01,2020-11-01,NaN,NaN,NaN,Hannover,active,1001,2020-07-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,energy,gas,9500,9246.0,2020-03-21,2020-06-01,NaN,NaN,NaN,Bielefeld,indelivery,2001,2020-08-09
29996,29997,energy,electricity,2700,2866.0,2019-12-23,2020-07-01,NaN,NaN,NaN,Dresden,indelivery,1000,2020-08-07
29997,29998,energy,electricity,2800,2932.0,2018-02-19,2018-08-01,2019-01-31,2019-01-03,fristgerecht durch LichtBlick,Bremen,terminated,1002,2019-01-03
29998,29999,energy,electricity,2300,2383.0,2019-08-01,2019-10-01,NaN,NaN,NaN,Rosenheim,indelivery,1000,2020-05-30
29999,30000,energy,electricity,2500,2429.0,2019-11-06,2020-02-01,NaN,NaN,NaN,Altchemnitz,indelivery,1000,2020-06-12

In [137]:
df_nov_cntr

,id,type,energy,usage,usagenet,createdat,startdate,enddate,fillingdatecancellation,cancellationreason,city,status,productid,modificationdate
0,1,energy,electricity,2100.0,2084.0,2018-03-12,2018-12-01,NaN,NaN,NaN,Wuppertal,indelivery,1000,2020-04-17
1,2,energy,electricity,2700.0,2569.0,2018-01-26,2018-10-01,NaN,NaN,NaN,Cologne,indelivery,1000,2020-02-06
2,3,energy,electricity,2900.0,2760.0,2019-04-09,2019-09-01,NaN,NaN,NaN,Berlin,indelivery,1002,2020-01-20
3,4,energy,electricity,2500.0,2391.0,2019-09-27,2019-11-01,2020-02-29,2020-02-01,fristgerecht durch Kunde,Dortmund,terminated,1000,2020-02-01
4,5,energy,electricity,2200.0,2178.0,2020-04-01,2020-11-01,NaN,NaN,NaN,Hannover,active,1001,2020-07-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31795,31796,energy,electricity,2300.0,2257.0,2020-10-18,2020-12-01,NaN,NaN,NaN,Düsseldorf,active,1001,2020-10-22
31796,31797,energy,gas,10500.0,10356.0,2020-10-15,2020-12-01,NaN,NaN,NaN,Duisburg,active,2000,2020-10-19
31797,31798,energy,electricity,2800.0,2796.0,2020-10-26,2020-12-01,NaN,NaN,NaN,Hamburg,active,1002,2020-10-27
31798,31799,energy,electricity,2400.0,2407.0,2020-10-12,2020-11-01,NaN,NaN,NaN,Cologne,active,1001,2020-10-27
31799,31800,energy,gas,8700.0,8922.0,2020-10-25,2022-03-01,NaN,NaN,NaN,Berlin,active,2000,2020-10-07

In [138]:
df_nov_prod

,id,productcode,productname,energy,consumptiontype,deleted,modificationdate
0,1000,energy,ÖkoStrom A,electricity,household_electricity,0,2020-08-27
1,1001,energy,ÖkoStrom B,electricity,household_electricity,0,2020-02-05
2,1002,energy,ÖkoStrom C,electricity,household_electricity,0,2020-01-01
3,2001,energy,ÖkoGas A,gas,universal,0,2019-05-21
4,2002,energy,ÖkoGas B,gas,universal,0,2020-06-04
5,9001,energy,ÖkoTest A,electricity,household_electricity,0,2020-11-29

In [139]:
df_nov_price

,id,productid,pricecomponentid,productcomponent,price,unit,valid_from,valid_until,modificationdate
0,1,1000,1,baseprice,8.99,€/year,2019-01-01,2020-05-31,2020-05-24
1,2,1000,2,workingprice,29.80,ct/kwh,2019-01-01,2020-05-31,2020-05-24
2,3,1001,1,baseprice,9.99,€/year,2019-01-01,9999-12-31,2018-12-23
3,4,1002,1,baseprice,9.49,€/year,2019-01-01,9999-12-31,2018-12-23
4,5,1001,2,workingprice,29.40,ct/kwh,2019-01-01,2019-12-31,2019-12-22
5,6,1002,2,workingprice,28.90,ct/kwh,2019-01-01,2019-12-31,2019-12-22
6,7,2001,1,baseprice,13.99,€/year,2019-01-01,9999-12-31,2018-12-23
7,8,2001,2,workingprice,4.90,ct/kwh,2019-01-01,9999-12-31,2018-12-23
8,9,2002,1,baseprice,13.99,€/year,2019-01-01,9999-12-31,2018-12-23
9,10,2002,2,workingprice,5.20,ct/kwh,2019-01-01,9999-12-31,2018-12-23
10,11,1002,2,workingprice,29.10,€/year,2020-01-01,9999-12-31,2019-12-22
11,12,1001,2,workingprice,29.30,ct/kwh,2020-01-01,9999-12-31,2019-12-22
12,13,1000,1,baseprice,9.79,€/year,2020-06-01,9999-12-31,2020-05-24
13,14,1000,2,workingprice,29.90,ct/kwh,2020-06-01,9999-12-31,2020-05-24

In [140]:
df_oct_prod.shape

(5, 7)

In [141]:
df_nov_prod.shape

(6, 7)

In [142]:
df_dec_prod.shape

(6, 7)

In [143]:
df_jan_prod.shape

(6, 7)

In [144]:
df_oct_price.shape

(14, 9)

In [145]:
df_nov_price.shape

(14, 9)

In [146]:
df_dec_price.shape

(14, 9)

In [147]:
df_jan_price.shape

(18, 9)

In [148]:
df_oct_cntr

,id,type,energy,usage,usagenet,createdat,startdate,enddate,fillingdatecancellation,cancellationreason,city,status,productid,modificationdate
0,1,energy,electricity,2100,2084.0,2018-03-12,2018-12-01,NaN,NaN,NaN,Wuppertal,indelivery,1000,2020-04-17
1,2,energy,electricity,2700,2569.0,2018-01-26,2018-10-01,NaN,NaN,NaN,Cologne,indelivery,1000,2020-02-06
2,3,energy,electricity,2900,2760.0,2019-04-09,2019-09-01,NaN,NaN,NaN,Berlin,indelivery,1002,2020-01-20
3,4,energy,electricity,2500,2391.0,2019-09-27,2019-11-01,2020-02-29,2020-02-01,fristgerecht durch Kunde,Dortmund,terminated,1000,2020-02-01
4,5,energy,electricity,2200,2178.0,2020-04-01,2020-11-01,NaN,NaN,NaN,Hannover,active,1001,2020-07-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,energy,gas,9500,9246.0,2020-03-21,2020-06-01,NaN,NaN,NaN,Bielefeld,indelivery,2001,2020-08-09
29996,29997,energy,electricity,2700,2866.0,2019-12-23,2020-07-01,NaN,NaN,NaN,Dresden,indelivery,1000,2020-08-07
29997,29998,energy,electricity,2800,2932.0,2018-02-19,2018-08-01,2019-01-31,2019-01-03,fristgerecht durch LichtBlick,Bremen,terminated,1002,2019-01-03
29998,29999,energy,electricity,2300,2383.0,2019-08-01,2019-10-01,NaN,NaN,NaN,Rosenheim,indelivery,1000,2020-05-30
29999,30000,energy,electricity,2500,2429.0,2019-11-06,2020-02-01,NaN,NaN,NaN,Altchemnitz,indelivery,1000,2020-06-12

In [149]:
df_oct_cntr.shape

(30000, 14)

In [150]:
df_nov_cntr.shape

(31800, 14)

In [151]:
df_dec_cntr.shape

(33700, 14)

In [152]:
df_jan_cntr.shape

(36100, 14)

In [153]:
df_oct_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                5 non-null      int64
 1   productcode       5 non-null      object
 2   productname       5 non-null      object
 3   energy            5 non-null      object
 4   consumptiontype   5 non-null      object
 5   deleted           5 non-null      int64
 6   modificationdate  5 non-null      object
dtypes: int64(2), object(5)
memory usage: 408.0+ bytes

In [154]:
df_oct_prod.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [155]:
df_nov_prod.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [156]:
df_dec_prod.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [157]:
df_jan_prod.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [158]:
df_jan_price.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
dtype: bool

In [159]:
df_oct_prod.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [160]:
df_nov_price.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool

In [161]:
df_dec_price.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool

In [162]:
df_oct_cntr.duplicated().unique()

array([False])

In [163]:
df_nov_cntr.duplicated().unique()

array([False])

In [164]:
df_dec_cntr.duplicated().unique()

array([False])

In [165]:
df_jan_cntr.duplicated().unique()

array([False])

In [166]:
df_jan_cntr

,id,type,energy,usage,usagenet,createdat,startdate,enddate,fillingdatecancellation,cancellationreason,city,status,productid,modificationdate
0,1,energy,electricity,2100.0,2084.0,2018-03-12,2018-12-01,NaN,NaN,NaN,Wuppertal,indelivery,1000,2020-04-17
1,2,energy,electricity,2700.0,2569.0,2018-01-26,2018-10-01,NaN,NaN,NaN,Cologne,indelivery,1000,2020-02-06
2,3,energy,electricity,2900.0,2760.0,2019-04-09,2019-09-01,NaN,NaN,NaN,Berlin,indelivery,1002,2020-01-20
3,4,energy,electricity,2500.0,2391.0,2019-09-27,2019-11-01,2020-02-29,2020-02-01,fristgerecht durch Kunde,Dortmund,terminated,1000,2020-02-01
4,5,energy,electricity,2200.0,2178.0,2020-04-01,2020-11-01,NaN,NaN,NaN,Hannover,active,1001,2020-07-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36095,36096,energy,electricity,2500.0,2457.0,2020-12-14,2021-06-01,NaN,NaN,NaN,Oldenburg,active,1001,2020-12-01
36096,36097,energy,electricity,3000.0,2891.0,2020-12-29,2021-01-01,NaN,NaN,NaN,Osnabrück,active,1001,2020-12-31
36097,36098,energy,electricity,2400.0,2281.0,2020-12-05,2021-06-01,NaN,NaN,NaN,Berlin,active,1000,2020-12-01
36098,36099,energy,electricity,2600.0,2535.0,2020-12-28,2021-02-01,NaN,NaN,NaN,Berlin,active,1000,2020-12-30
36099,36100,energy,electricity,3000.0,2816.0,2020-12-30,2021-02-01,NaN,NaN,NaN,Essen,active,1000,2020-12-31

In [167]:
df_jan_cntr['status'].unique()

array(['indelivery', 'terminated', 'active', 'cancelled'], dtype=object)

In [168]:
df22=df_jan_cntr[df_jan_cntr['startdate'] == '2021-01-01']

In [169]:
df22[df22['status'] == 'indelivery']

Empty DataFrame
Columns: [id, type, energy, usage, usagenet, createdat, startdate, enddate, fillingdatecancellation, cancellationreason, city, status, productid, modificationdate]
Index: []

In [170]:
len(df_jan_cntr[df_jan_cntr['startdate'] == '2021-01-01']['id'].unique().tolist())

1296

In [171]:
today = date.today()
print("Today's date:", today)

Today's date: 2022-04-06

In [172]:
print(today.month)

4

In [173]:
print(today.year)

2022

In [174]:
print(str(today.day).zfill(2))

06

In [175]:
table_nm = ['prices','products','contracts']

In [176]:
for i in range(0,len(table_nm)):
    print(table_nm[i])

prices
products
contracts

In [178]:
pd.merge(df_dec_cntr,df_nov_cntr, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)

,id,type,energy,usage,usagenet,createdat,startdate,enddate,fillingdatecancellation,cancellationreason,city,status,productid,modificationdate
75,76,energy,gas,10622.7,11605.755,2018-01-24,2018-02-01,2020-12-31,2020-11-28,fristgerecht durch LichtBlick,Gera,cancelled,2001,2020-11-12
120,121,energy,electricity,2009.7,2026.746,2018-04-08,2018-08-01,2020-12-31,2020-12-03,fristgerecht durch Kunde,Würzburg,cancelled,1000,2020-11-12
198,199,energy,electricity,2392.5,2749.846,2019-05-03,2019-06-01,2020-12-31,2020-11-30,fristgerecht durch Kunde,Kiel,cancelled,1000,2020-11-12
220,221,energy,electricity,2600.0,2516.000,2020-08-22,2021-12-30,NaN,NaN,NaN,Stuttgart,active,1002,2020-11-05
408,409,energy,electricity,2200.0,2235.000,2020-05-13,2021-06-29,NaN,NaN,NaN,Munich,active,1001,2020-11-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33695,33696,energy,electricity,2600.0,2456.000,2020-11-02,2021-05-01,NaN,NaN,NaN,Bremen,active,1000,2020-11-05
33696,33697,energy,electricity,2400.0,2413.000,2020-11-09,2020-12-01,NaN,NaN,NaN,Hamburg,active,1002,2020-11-16
33697,33698,energy,electricity,3000.0,2970.000,2020-11-02,2021-05-01,NaN,NaN,NaN,Düsseldorf,active,1000,2020-11-05
33698,33699,energy,electricity,2700.0,2897.000,2020-11-03,2021-06-29,NaN,NaN,NaN,Berlin,active,1002,2020-11-05
33699,33700,energy,electricity,2100.0,2284.000,2020-11-24,2021-07-01,NaN,NaN,NaN,Potsdam,active,1000,2020-11-27