In [1]:
import pandas as pd;

In [2]:
df_cont=pd.read_csv("/Users/manvijha/Documents/MyProjects/CaseStudy_DE/output_files/op_contracts.csv",sep=",")

In [4]:
df1=df_cont[df_cont['status']=='indelivery']

In [6]:
df1

,id,type,energy,usage,usagenet,createdat,startdate,enddate,fillingdatecancellation,cancellationreason,city,status,productid,modificationdate
0,1,energy,electricity,2100,2084.0,2018-03-12,2018-12-01,NaN,NaN,NaN,Wuppertal,indelivery,1000,2020-04-17
1,2,energy,electricity,2700,2569.0,2018-01-26,2018-10-01,NaN,NaN,NaN,Cologne,indelivery,1000,2020-02-06
2,3,energy,electricity,2900,2760.0,2019-04-09,2019-09-01,NaN,NaN,NaN,Berlin,indelivery,1002,2020-01-20
5,6,energy,electricity,2400,2375.0,2020-02-02,2020-07-01,NaN,NaN,NaN,Freiberg,indelivery,1001,2020-04-01
6,7,energy,electricity,2800,2915.0,2019-07-20,2019-09-01,NaN,NaN,NaN,Mainz,indelivery,1001,2020-07-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30793,30785,energy,electricity,2700,2624.0,2020-10-01,2020-10-01,NaN,NaN,NaN,Karlsruhe,indelivery,1001,2020-10-29
30947,30939,energy,electricity,2200,2094.0,2020-10-01,2020-10-01,NaN,NaN,NaN,Hamburg,indelivery,1000,2020-10-11
31177,31169,energy,electricity,2300,2370.0,2020-10-01,2020-10-01,NaN,NaN,NaN,Hannover,indelivery,1002,2020-10-08
31529,31524,energy,electricity,2500,2633.0,2020-10-01,2020-10-01,NaN,NaN,NaN,Koblenz,indelivery,1000,2020-10-31
31575,31570,energy,electricity,2400,2301.0,2020-10-01,2020-10-01,NaN,NaN,NaN,Frankfurt,indelivery,1000,2020-10-26

In [7]:
df1[df1['startdate']=='2021-01-01']

Empty DataFrame
Columns: [id, type, energy, usage, usagenet, createdat, startdate, enddate, fillingdatecancellation, cancellationreason, city, status, productid, modificationdate]
Index: []

In [11]:
#Checking if any delivery has been started after 01.01.2021
df1[df1['startdate']>'2021-01-01']

Empty DataFrame
Columns: [id, type, energy, usage, usagenet, createdat, startdate, enddate, fillingdatecancellation, cancellationreason, city, status, productid, modificationdate]
Index: []

In [12]:
df1.shape[0]

21619